---

---
path:hover {
    stroke-opacity: 1;
}

a.locate-route {
    color: black !important;
    text-decoration: none;
}

.route-container {
    background-color: white;
}

.route-container:hover {
    background-color: #f5f5f5;
}