---

---
body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

button {
    &.link {
        border: none;
        background-color: transparent;
        text-decoration: underline;
        cursor: pointer;
    }
}