{% raw %}
<!-- Panel -->
<script id="panel-template" type="text/x-handlebars-template">
  {{{content}}}
</script>

<!-- People -->
<script id="pins-template" type="text/x-handlebars-template">
    <br />
    <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" data-pane-id="{{key}}" id="view_{{key}}">
            View on the map
          </label>
        </div>
      </div>
    <div class="container">
    {{#each items}}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{this.name}}</strong> <small><button data-pin-id="{{@key}}" data-pin-location="{{this.location}}" class="button link locate-pin"><i class="fas fa-map-marker"></i></button></small> <small></small>
                    {{#if this.description}}<p>{{{markdown this.description}}}</p>{{/if}}
                </p>
            </div>
        </div>
    </article>
    <br />
    {{else}}
      <p class="empty">No content</p>
    {{/each}}
    </div>
</script>

<!-- Routes -->
<script id="routes-template" type="text/x-handlebars-template">
    <br />
    <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" data-pane-id="{{key}}" id="view_{{key}}">
            View routes on the map
          </label>
        </div>
      </div>
    <div class="container">
    {{#each routes}}
    <a href="#"
      data-route-id="{{@key}}" 
      data-route-bounds="{{this.bounds.northeast.lat}},{{this.bounds.northeast.lng}},{{this.bounds.southwest.lat}},{{this.bounds.southwest.lng}}"
      class="locate-route">
      <div>
        
      </div>
      <article class="media route-container" data-route-id="{{@key}}">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{this.name}}</strong>
                    <br/>
                    <small>{{this.origin}} ⇒ {{this.destination}}</small>
                    <br />
                    <small>{{distance.text}} - {{formatTime date "MM-DD-YYYY"}}</small>
                    <br />
                    {{#if this.description}}<p>{{{markdown this.description}}}</p>{{/if}}
                </p>
            </div>
        </div>
      </article>
    </a>
    <br />
    {{else}}
      <p class="empty">No content</p>
    {{/each}}
    </div>
</script>
{% endraw %}