<!-- People -->
<script id="pins-template" type="text/x-handlebars-template">
  {% raw %}
    <br />
    <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" data-pane-id="{{key}}" id="view_{{key}}">
            View on the map
          </label>
        </div>
      </div>
    <div class="container">
    {{#each items}}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{this.name}}</strong> <small><button data-pin-id="{{@key}}" data-pin-location="{{this.location}}" class="button link locate-pin"><i class="fas fa-map-marker"></i> {{place}}</button></small> <small>{{date}}</small>
                    <br />
                    {{this.description}}
                </p>
            </div>
        </div>
    </article>
    <br />
    {{else}}
      <p class="empty">No content</p>
    {{/each}}
    </div>
    {% endraw %}
</script>

<!-- Routes -->
<script id="routes-template" type="text/x-handlebars-template">
    <br />
    {% raw %}
    <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" data-pane-id="{{key}}" id="view_{{key}}">
            View routes on the map
          </label>
        </div>
      </div>
    <div class="container">
    {{#each routes}}
    <article class="media">
      <div class="media-content">
          <div class="content">
              <p>
                  <strong>{{this.name}}</strong> <small><button data-pin-id="{{@key}}" data-pin-location="{{this.location}}" class="button link locate-pin"><i class="fas fa-map-marker"></i> {{place}}</button></small> <small>{{date}}</small>
                  <br />
                  {{this.description}}
              </p>
          </div>
      </div>
    </article>
    <br />
    {{else}}
      <p class="empty">No content</p>
    {{/each}}
    </div>
    {% endraw %}
</script>